.Header{
    font-size: 50px;
    color: rgb(0, 0, 125);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.wrapper{
    display: flex;
    padding-top: 20px;
    padding-left: 30px;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    background-color: lightblue;
    box-shadow: 0 4px 8px black;
}

.input-group input{
    width: 100%;
    padding: 10px 30px 10px 10px;
    font-size: #222;
    outline: none;
    border: none;
    border-radius: 8px;
    
}

.input-group i {
    position: absolute;
    top: 50%;
    right: 10px;
    color: #222;
    transform: translateY(-50%);
    cursor: pointer;
}

#searchInput{
    width: 40%;
}

#Jokes{
    padding-bottom: 20px;
}

#Joke{
    margin-left: 20px;
}

